<form>
    <div class="form-group">
        <label class="form-label" for="user-name">Username</label>
        <input type="text" class="form-input" id="user-name">
    </div>
    <div class="form-group">
        <label class="form-label" for="title">Title</label>
        <input type="text" class="form-input" id="title">
    </div>
    <div class="form-group">
        <label class="form-label" for="content">Content</label>
        <textarea type="text" class="form-input" id="content"></textarea>
    </div>
</form>