<main>
    <h1 class="venus-background">My First Blog</h1>
    <div class="divider"></div>
    <div class="divider--vertical"></div>
    <section class="user-opinion">
        <h2>What's on your mind?</h2>
        <form>
            <div class="form-group">
                <label class="form-label" for="user-name">Username</label>
                <input type="text" class="form-input" id="user-name">
            </div>
            <div class="form-group">
                <label class="form-label" for="title">Title</label>
                <input type="text" class="form-input" id="title">
            </div>
            <div class="form-group">
                <label class="form-label" for="content">Content</label>
                <textarea type="text" class="form-input" id="content"></textarea>
            </div>
        </form>
        <a href="#" class="btn">Submit</a>
    </section>
</main>