:root {
  --venus-color-top: #f5d891;
  --venus-color-top-mid: #eaae3c;
  --venus-color-bottom-mid: #bc8d31;
  --venus-color-bottom: #735b23;
  --black-color: #000;
  --btn-background-color: #222;
}

* {
  box-sizing: border-box;
}

/* TYPOGRAPHY */
html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 4.1rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 5.5rem;
  }

  h2 {
    font-size: 3rem;
  }
}

/* FORM */
form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 5px;
}

.form-input {
  margin-bottom: 25px;
  outline: none;
}

.form-input:focus {
  border: 2px solid #005fcc;
}

#content {
  height: 150px;
}

/* DIVIDER */
.divider {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  height: 7px;
  width: 100%;
}

.divider--vertical {
  border-left: 2px solid black;
  border-right: 2px solid black;
  height: 80vh;
  width: 7px;
  display: none;
}

@media screen and (min-width: 768px){
    .divider--vertical{
        display: block;
    }
}

/* BUTTON */
.btn {
  background-color: var(--btn-background-color);
  color: white;
  display: block;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.back-icon {
  display: inline-block;
  transform: rotate(180deg);
}

/* LOGO */
.venus-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    var(--venus-color-top) 0%,
    var(--venus-color-top-mid) 21%,
    var(--venus-color-bottom-mid) 83%,
    var(--venus-color-bottom) 100%
  );
  height: 300px;
  width: 300px;
  border-radius: 50%;
  color: white;
  margin: 40px 0;
  max-height: 550px;
  max-width: 550px;
}

@media screen and (min-width: 768px){
    .venus-background{
        margin: 40px;
        width: 40vw;
        height: 40vw;
    }
}

/* USER OPINION */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.user-opinion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 800px;
    padding: 0 1.2rem;
}

.user-opinion h2{
    margin-top: 25px;
    margin-bottom: 15px;
}

@media screen and (min-width: 768px){
    main{
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0;
    }

    main .divider{
        display: none;
    }

    main .divider--vertical{
        height: 100vh;
    }
    
    .user-opinion{
        padding: 0 2.2rem;
        width: 50vw;
    }
}

/* FOOTER */
footer{
    margin: 40px;
    color: lightgrey;
    text-align: center;
}