:root {
  --venus-color-top: #f5d891;
  --venus-color-top-mid: #eaae3c;
  --venus-color-top-bottom: #bc8d31;
  --venus-color-bottom: #735b23;
  --black-color: #000;
  --btn-background-color: #222;
}

* {
  box-sizing: border-box;
}

/* TYPOGRAPHY */
html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 4.1rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 5.5rem;
  }

  h2 {
    font-size: 3rem;
  }
}

/* FORM */
form {
  padding: 0 1.2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 5px;
}

.form-input {
  margin-bottom: 25px;
  outline: none;
}

.form-input:focus {
  border: 2px solid #005fcc;
}

#content {
  height: 150px;
}

@media screen and (min-width: 768px) {
  form {
    padding: 0 2.2rem;
  }
}

/* DIVIDER */
.divider {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  height: 7px;
  width: 100%;
}

.divider--verticle {
  border-left: 2px solid black;
  border-right: 2px solid black;
  height: 100vh;
  width: 7px;
}

/* BUTTON */
.btn {
  background-color: var(--btn-background-color);
  color: white;
  display: block;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.back-icon {
  display: inline-block;
  transform: rotate(180deg);
}
